*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Grid*/


.container {
    width: 1200px;
    margin: 0 auto;
}


/* Header */


header {
    background-color: #1E1C21;
    height: 80px;
    width: 100%;
}


.container_header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;

}

header img {
    width: 30%;
    height: 55%;
    
}

nav{
    width: 465px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}

/*Banner*/

.container_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.banner {
    background: linear-gradient(to right, #FA88E1 0%, rgb(0, 0, 0) 77%, rgba(0,0,0,1) 100%);
}

.container_banner img {
    height: 500px;
    display: flex;
    align-items: center;
}

.conteudo_banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo_banner h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 75px;
    height: 102px;
    color: white;
}

.conteudo_banner span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    color:white; 
}

.conteudo_banner a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    width: 220px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #B13CAD;
}

/*Jogos*/

.jogos {
   background-color: black;
   height: 100px;
}

.container_jogos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/*Como participar das ligas*/

.container_participar {
    background-image: url(./assets_/Rectangle\ 5.png);
    height: 700px;
}

.cor {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.retangulo {
    clip-path: polygon(0 19%, 100% 0, 100% 82%, 0% 100%);
    background-color: rgba(0,0,0,80%);
    height: 100%;
}

.container_como {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.container_como img {
    height: 640px;
    margin-left: -95px;
    margin-bottom: -2px;
}

.container_texto p {
    width: 650px;
    font-size: 24px;
    text-align: justify;
    margin-top: 28px;
}

.container_texto h1 {
    font-size: 50px;

}

.texto {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

/*Jogos ao vivo*/

.section_ao_vivo {
    background-color: black;
    height: 110px;
}

.container_times {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.section_ao_vivo span {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

hr {
    height: 90px;
}

.games {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
}

.games img {
    width: 55px;
    height: 50px;
}

.container_times {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    color: white;
    text-transform: uppercase;
}

.bolinha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bola {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.vermelha {
    width: 115px;
}

.vermelha div {
    background-color: red;
}

/*notícias*/ 
.section_noticias {
    background-color: #1E1C21;
    height: 900px;
    display: flex;
    align-items: center;
}

.section_noticias h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    color: white;
}

.container_noticiais {
    display: flex;
    align-items: center;
}

.div_titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_noticiass {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 740px;
}
.parte {
    display: flex;
    justify-content: space-evenly;
    width: 790px;
}

.noticias {
    width: 240px;
    height: 345px;
    
    background: linear-gradient(to bottom, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 13px 8px 7px black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticias img{
    width: 240px;
    height: 158px;
}

.noticias h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: white;
}

.noticias p {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: justify;

    padding: 0 8px;
}

.container_proximos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 825px;
}

.container_proximos span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    color: white;
    text-transform: uppercase;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 286px;
    height: 720px;
    background: linear-gradient(to bottom, rgba(3,3,3,1) 0%, rgba(49,49,49,1) 26%, rgba(44,44,44,1) 77%, rgba(5,5,5,1) 100%);
}

.img_jogos {
    height: 50px;
    width: 56px;
}

/*footer*/

footer{
    background-color: black;
    height: 350px;
    
    display: flex;
    align-items: center;
}

.container_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_links {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.container_links span{
    font-family:'Titillium Web', sans-serif;
    font-size: 20px;
    color: white;
}

.container_links li {
    color: white;
}

.container_links a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.faça_parte {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 20px;
}

.siga .segue {
    font-family: 'Titillium Web', sans-serif;
    color: white; 
    font-size: 20px;
}

.siga img {
    height: 40px;
    width: 40px;
}

.cadastrar {
    display: flex;
}

.cadastrar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #110070;
    height: 40px;
    width: 120px;
}

.cadastrar a span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 330px;
}
